In [ ]:
# Q1.  Explain with an example each when to use a for loop and a while loop.

The for loop is used when we know the number of iterations, that is, how many times a statement must be executed. That is why, when we initialize the for loop, we must define the ending point.
 
Example of for loop:

n = [1, 2, 3] 

for i in n:  
    print(i)
Output:
1
2
3

While loop: A while loop is used when the number of iterations is unknown. It is used when we need to end the loop on a condition other than the number of repetitions.

Example of while loop:

i = 1  
while i < 6:  
    print(i)
    i=i+1

Output:
1
2
3
4
5

In [1]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.


product = 1 
sum = 0 

# Using For loop 

for i in range(11):
  sum = sum + i ;
  if i == 0 :
    product = product*(i+1);
    continue;  
  product = product*i;
print(sum)
print(product)

55
3628800

In [2]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

sum = 0
product = 1 
a=1

# Using While  loop 

while a<=10:
   sum = sum + a;
   product = product * a;
   a = a + 1;
print(sum)
print(product)

55
3628800

In [4]:
# Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#      unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#        You are required to take the units of electricity consumed in a month from the user as input.

charge = 0
units =  int(input("Enter number of units consumption in a month"))

if  0< units <=100:
   charge = units * 4.5
   

elif 100< units <= 200:
    charge = units * 6

elif 200< units <= 300:
    charge = units * 10
else:
    charge = units * 20
print(charge)

Enter number of units consumption in a month  55
247.5

In [6]:
#  Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#  that list.


# Using For loop 


l = list(range(1,101))
l1 = []
cube = 0
for i in l:
   cube = i**3;
   print(cube) 
   if cube%4 == 0 or cube%5==0:
     l1.append(cube);
print(l1)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
#  Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#  that list.


# Using While  loop 


l = list(range(1,101))
l1=[]
cube = 0
a = 1 
while a<=100:
   cube = a**3;
   print(cube)
   a=a+1
   if cube%4==0 or cube%5==0:
     l1.append(cube); 
print(l1)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [8]:
# Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist" ###

sum = 0
string = "I want to become a data scientist"

sum = string.count("a") + string.count("e") + string.count("o") +  string.count("i") + string.count("I") 
print(sum)

12